---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import { ArrowRightIcon, LockClosedIcon } from "@heroicons/react/24/outline";
import { Image } from "astro:assets";
import overviewImage from "../assets/overview.webp";
import owenImage from "../assets/owen.webp";
import ecosystemImage from "../assets/ecosystem.webp";
import syncImage from "../assets/sync.svg";
import CommitCard from "../components/CommitCard.astro";
import Carousel from "../components/Carousel";
import SEOFragment from "../components/SeoFragment.astro";

const title = "tauOS";
const description =
  "Discover the future of desktop computing with tauOS, currently in development. tauOS is designed with ease of use in mind, featuring human-centric design, an unbreakable core, and an syncing service that synchronizes files, configurations, keys, and more across all your devices.";

const seo = {
  title,
  description,
  url: Astro.url.pathname,
};
---

<!-- TODO: hack for "min margins", move to layout -->
<Layout title={title}>
  <SEOFragment {...seo} slot="head" />

  <Navbar pathname={Astro.url.pathname} client:load />

  <div class="mx-6 my-20">
    <div class="mx-auto max-w-5xl flex flex-col gap-20">
      <section class="flex items-center gap-12 justify-around">
        <div class="flex-1">
          <h1 class="font-bold text-5xl mb-4 dark:opacity-[92%]">
            Welcome to your next-generation operating system.
          </h1>

          <p class="mt-6 text-gray-800 dark:text-gray-300">
            Discover the future of desktop computing with tauOS, currently in
            development. tauOS is designed with ease of use in mind, featuring
            human-centric design, an unbreakable core, and an syncing service
            that synchronizes files, configurations, keys, and more across all
            your devices.
          </p>

          <div class="flex mt-6 gap-4 items-center">
            <a
              href="#applications"
              class="flex items-center gap-1 text-violet-700 dark:text-violet-300"
              >Learn More <ArrowRightIcon
                name="fa-solid:chevron-right"
                className="inline-block h-4"
              /></a
            >
            <a
              href="https://discord.gg/5fdPuxTg5Q"
              class="flex items-center gap-1 text-violet-700 dark:text-violet-300"
              >Get involved <ArrowRightIcon
                name="fa-solid:chevron-right"
                className="inline-block h-4"
              /></a
            >
          </div>
        </div>

        <div class="flex-1 hidden lg:block">
          <Image
            src={overviewImage}
            alt="About tauOS"
            class="rounded-2xl hover:shadow-md transition-all bg-neutral-100 dark:bg-neutral-800 h-96"
          />
        </div>
      </section>

      <section
        class="flex items-center gap-12 justify-around flex-wrap-reverse"
        id="applications"
      >
        <div class="flex-grow w-[400px]">
          <Carousel
            client:load
            views={[
              {
                name: "Play",
                description:
                  "An example gaming setup, displaying CrossCode and Steam",
                image: "/carousel/play.webp",
              },
              {
                name: "Create",
                description:
                  "An example creative setup, displaying a pebble drawn in Krita and Victrola (our music app)",
                image: "/carousel/create.webp",
              },
              {
                name: "Develop",
                description:
                  "An example software development setup, displaying VSCode and htop running in a terminal",
                image: "/carousel/develop.webp",
              },
              {
                name: "Study",
                description:
                  'An example study setup, with a web browser opened on the Wikipedia page for "Catgirl" and an essay opened in LibreOffice',
                image: "/carousel/study.webp",
              },
            ]}
          />
        </div>

        <div class="flex-grow items-center gap-12 justify-around w-[300px]">
          <h1 class="font-bold text-4xl dark:opacity-[92%]">
            You name it, tau runs it
          </h1>
          <h2 class="text-xl mt-2">From Audacity to Zoom</h2>
          <p class="mt-6 text-gray-800 dark:text-gray-300 [text-wrap:balance]">
            tauOS supports a large selection of software. From native apps in
            Catalogue and Flathub, to professional software like DaVinci
            Resolve, and many popular games on Steam. tauOS empowers you to do
            your best.
          </p>
        </div>
      </section>

      <section class="flex items-center gap-12 justify-around">
        <div class="flex-1">
          <h1 class="font-bold text-4xl dark:opacity-[92%]">
            All of your stuff, on all of your devices
          </h1>
          <h2 class="text-xl mt-2">Continuity at the core</h2>
          <p class="mt-6 text-gray-800 dark:text-gray-300 [text-wrap:balance]">
            tauOS' included sync tool allows your work to span across multiple
            devices. Start writing on your laptop on the train, and continue
            where you left off on your desktop at home. We sync your settings,
            files, and clipboard automatically so you can spend more time doing
            what you love.
          </p>
        </div>

        <div class="flex-1">
          <!-- TODO: Fix light mode -->
          <Image
            src={syncImage}
            alt="A syncing digram, visually describing how tauOS syncs data between devices"
            class="invert dark:invert-0"
          />
        </div>
      </section>

      <section
        class="flex items-center gap-12 flex-wrap-reverse justify-around"
      >
        <div class="h-72 w-96 bg-blue-700 rounded p-4 flex flex-col text-white">
          <p class="text-4xl font-bold">:)</p>
          <p class="mt-4 text-lg leading-6">
            Your power went out during an update. The system has been rolled
            back and your data is safe.
          </p>

          <p class="mt-auto text-xs">Error code: NONE</p>
        </div>

        <div class="flex-1">
          <h1 class="font-bold text-4xl dark:opacity-[92%]">
            Resiliency built in
          </h1>
          <h2 class="text-xl mt-1">Install once, reinstall never</h2>
          <p class="mt-6 text-gray-800 dark:text-gray-300 [text-wrap:balance]">
            tauOS features an unbreakable core, allowing you to experiment and
            simply reboot to return your system to normal. If an update broke
            something (we doubt it will) you can easily revert to a previous
            version. Reinstalling is a thing of the past!
          </p>
        </div>
      </section>

      <section class="flex items-center gap-12">
        <div class="flex-1">
          <h1 class="font-bold text-4xl dark:opacity-[92%]">
            An ecosystem that awes.
          </h1>
          <h2 class="text-xl mt-1">
            A coherent experience for users and developers
          </h2>
          <p class="mt-6 text-gray-800 dark:text-gray-300 [text-wrap:balance]">
            tauOS provides a top-tier developer experience through the full
            proccess of building an app. With our tools, developers can build
            one app that runs across devices, add their app to our store,
            distribute it to users, and make money. Users get powerful apps,
            designed with them in mind. Developing for tauOS is a win-win!
          </p>
        </div>

        <div class="flex-1 hidden lg:block">
          <!-- TODO: Placeholder -->
          <Image
            src={ecosystemImage}
            alt="An image of an IDE for developing apps for tauOS"
            class="hover:shadow-md"
          />
        </div>
      </section>

      <section
        class="flex items-center gap-12 flex-wrap-reverse justify-around"
      >
        <div class="relative hover:shadow-md">
          <div
            class="absolute top-0 bottom-0 left-0 right-0 flex flex-col justify-end backdrop-blur-sm hover:backdrop-blur-none transition-all rounded-2xl"
          >
            <div
              class="flex flex-row items-center p-2 bg-neutral-100 dark:bg-neutral-800 rounded-b-xl gap-2"
            >
              <LockClosedIcon className="h-5" />{" "}<p>
                End to end encryption
              </p>
            </div>
          </div>
          <Image
            src={owenImage}
            alt="A blurred image of a person, intended to represent end-to-end encryption in a visual (and user understandable) way"
            class="rounded-2xl transition-all bg-neutral-100 dark:bg-neutral-800 max-w-[300px]"
          />
        </div>

        <div class="flex-1">
          <h1 class="font-bold text-4xl dark:opacity-[92%]">
            Privacy as a first class citizen
          </h1>
          <h2 class="text-xl mt-1">
            Because we don't care what you do on your computer
          </h2>
          <p class="mt-6 text-gray-800 dark:text-gray-300 [text-wrap:balance]">
            We believe strongly in the right to privacy. Your data is protected
            by industry-standard encryption, barring even us from seeing them.
            tauOS also includes security features to protect your privacy, like
            disk encryption, an immutable core, and virus resistance*.
          </p>
          <!--*tauOS is designed in a way that makes it difficult for viruses to work in sensitive areas, this doesn't mean that you are invincible. Practice safety online.-->
        </div>
      </section>

      <section class="flex items-center gap-12 flex-wrap justify-around">
        <div class="flex-1">
          <h1 class="font-bold text-4xl dark:opacity-[92%]">Radically open.</h1>
          <h2 class="text-xl mt-1">Because you deserve freedom</h2>
          <p class="mt-6 text-gray-800 dark:text-gray-300 [text-wrap:balance]">
            tauOS is open source, meaning anyone can see, remix, or add to the
            code. Our code and minds are open to ideas we haven't thought of.
            From community suggestions, to fixing an annoying bug, we are open.
          </p>
        </div>

        <div class="flex flex-col gap-2 flex-1 flex-shrink w-96">
          <CommitCard
            url="https://github.com/tau-OS/tau-helium/commit/3e8e26e123c9f384dfd1ad00e5e92257c236c048"
          />
          <CommitCard
            url="https://github.com/tau-OS/libhelium/commit/a868a129066b3e22dc3f392857c413b7575a03c0"
          />
          <CommitCard
            url="https://github.com/tau-OS/xenon/commit/e9fec5441369e5b9aac0aeb32db73a2142b64a07"
          />
        </div>
      </section>
    </div>
  </div>
</Layout>

<style>
  html {
    @apply scroll-smooth;
  }
</style>
